asm/
crash-reports/
dumps/
fonts/
local/
logs/
modpack/
saves/
.curseclient
minecraftinstance.json
usercache.json
usernamecache.json
resourcepacks/*.zip
shaderpacks/
resourcepacks/ravnuz-mods-textures/
screenshots/
backups/
